/* style.scss */
@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0px 0 white;
  }
  6% {
    -webkit-box-shadow: 0 0 18px 3px #e50a2b;
  }
  12% {
    -webkit-box-shadow: 0 0 0px 0 white;
  }
  18% {
    -webkit-box-shadow: 0 0 18px 3px #e50a2b;
  }
  24% {
    -webkit-box-shadow: 0 0 0px 0 white;
  }
  to {
    -webkit-box-shadow: 0 0 0px 0 white;
  }
}
@-webkit-keyframes candPulse {
  from {
    -webkit-box-shadow: 0 0 0px 0 #0050a0;
  }
  50% {
    -webkit-box-shadow: 0 0 18px 3px white;
  }
  to {
    -webkit-box-shadow: 0 0 0px 0 #0050a0;
  }
}

.title {
  margin: 0 auto;
  margin-top: 40px;
  width: 600px;
  text-align: center;
}

.title h2 {
  color: black;
}

.cand-pic {
  padding: 0px;
}

.cand-name {
  padding-right: 0px;
}

.my-idx {
  display: flex;
  flex-wrap: wrap;
  flex-direction: horizontal;
  justify-content: center;
  min-height: 400px;
}

.summary-main {
  display: block;
  margin: auto;
}

.summaries-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: horizontal;
  justify-content: center;
}

.main-container {
  max-width: 906px;
  margin: auto;
}

.game-part {
  max-width: 190px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.game-part.selected {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid #e50a2b;
}

.game-menu {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  cursor: default;
  overflow: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cand-bio-top-row {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.cand-bio-pic {
  flex: 1;
}
.cand-bio-pic img {
  display: block;
  margin: auto;
}

.cand-bio-basics {
  flex: 2;
}
.cand-bio-basics h2 {
  margin: 0;
}

.cand-stances {
  flex: 1;
  padding: 10px;
  margin-top: auto;
  margin-bottom: 0;
}
.cand-stances ul {
  padding-left: 20px;
  margin-top: 5px;
}

.primaries {
  position: relative;
  min-height: 400px;
  z-index: 2;
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
.primaries tr {
  display: block;
}
.primaries tr td, .primaries tr th {
  min-width: 150px;
}
.primaries caption {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}
.primaries th {
  color: black;
}

.candidates-body tr {
  cursor: pointer;
  -moz-transition: background-color 0.1s linear, color 0.1s linear;
  -o-transition: background-color 0.1s linear, color 0.1s linear;
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
}

.primaries-body:not(.summary) tr:not(.past).startPulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}
.primaries-body:not(.summary) tr:not(.past):hover:not(.selected) {
  cursor: pointer;
  outline: 1px solid #fb9dab;
}
.primaries-body tr {
  cursor: default;
  -moz-transition: background-color 0.1s linear, color 0.1s linear;
  -o-transition: background-color 0.1s linear, color 0.1s linear;
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
}
.primaries-body tr:not(.past) {
  color: black;
  font-weight: 500;
}
.primaries-body .selected {
  outline: 2px solid #e50a2b;
}
.primaries-body img {
  display: block;
  height: 42px;
  width: 42px;
  margin: 0 auto;
}

.summary-header {
  text-align: center;
  flex-basis: 500px;
}

.summary .past img {
  -webkit-filter: grayscale(80%);
}

.summary-header {
  margin-top: 25px;
  margin-bottom: 25px;
}
.summary-header .summary-title {
  color: #3268AE;
  font-weight: 600;
  font-size: 2em;
}

.democrats {
  margin-top: 20px;
  margin-right: 10px;
}
.democrats th {
  border-bottom: 2px solid #0050a0;
}

.republicans {
  margin-top: 20px;
  margin-left: 10px;
}
.republicans th {
  border-bottom: 2px solid #e50a2b;
}

.candidates-body {
  display: block;
}
.candidates-body.startPulse {
  -webkit-animation-name: candPulse;
  -webkit-animation-duration: 0.60s;
  -webkit-animation-iteration-count: 2;
}
.candidates-body .selected {
  background: white;
  color: black;
}

.candidates-table {
  width: 100%;
}

.candidates-container {
  padding: 0;
  background: #0050a0;
  border: 1px solid #0050a0;
  vertical-align: top;
  color: white;
}
.candidates-container img {
  height: 42px;
  width: 42px;
  display: block;
}

.cand-bio-wrapper {
  position: absolute;
  top: 0;
  left: -1px;
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  background-color: white;
  border: 1px solid #5c83AA;
  opacity: 0;
}

.cand-bio {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-spacing: 0;
  text-align: center;
}

h4 {
  color: black;
  display: inline;
}

td, th {
  max-width: 90px;
  min-width: 70px;
  height: 42px;
  padding: 10px;
}

.cand-bios {
  position: relative;
  margin-left: 0px;
}

.button-container {
  padding-top: 40px;
  text-align: center;
}

.disabled {
  background-color: grey !important;
  cursor: default !important;
}
.disabled:hover {
  opacity: 1 !important;
}

.game-panel__candidate-selection {
    width:720px;
    height: 434px;
    display: flex;
    margin: 0 auto;
}

.game-panel__candidate-selection__left-panel, .game-panel__candidate-selection__right-panel {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.game-panel__candidate-selection__select {
    padding: 10px 35px;
    color: white;
    border-radius: 4px 4px 4px 4px;
    background-color: #0050a0;
    margin: 30px 0px;
}

.game-panel__candidate-selection__select {
    padding: 10px 35px;
    color: white;
    border-radius: 4px 4px 4px 4px;
    background-color: #0050a0;
    margin: 30px 0px;
}

.game-panel__candidate-selection__learn-more {
    text-decoration: underline;
    cursor: pointer;
}

.game-panel__candidate-selection__left-panel__candidate-image, .game-panel__candidate-selection__left-panel__candidate-image{
    margin-top: 30px;
}